body {
	background:white;
}
.cover {
	width:428px;
	height:600px;
	position:absolute;
	top:50%;
	left:50%;
	background: url(../img/bg.jpg);
	overflow: hidden;
	transform: translate(-50%, -50%);
	animation:bg 2s infinite linear;
	animation-direction: alternate;
}

@keyframes bg{
	0%{}
	100%{background:url(../img/bg2.jpg);}
}

.title {
	width:300px;
	height:150px;
	background: url(../img/matilda.png) center no-repeat;
	background-size: 300px 150px;
	position:absolute;
	top:23%;
	left:50%;
	transform: translate(-50%, -50%);
	z-index: 1;
	animation:title 8s linear forwards;
}

@keyframes title {
	0%{}
	100%{
		background: url(../img/matilda2.png);
		background-size: 300px 150px;

	}
}

.outline {
	width:180px;
	height:320px;
	background: url(../img/girl1.png) center no-repeat;
	background-size: 180px 320px;
	position:absolute;
	top:70%;
	left:50%;
	transform: translate(-50%, -50%);
	z-index: 1;
	animation:girl 2s infinite linear;
	animation-direction: alternate;
}

@keyframes girl{
	0%{}
	50%{background:url(../img/girl2.png);
		background-size: 180px 320px;
		}
	100%{background:url(../img/girl3.png);
		background-size: 180px 320px;
		}
}

.author{
	width:150px;
	height:50px;
	background: url(../img/author.png) center no-repeat;
	background-size: 150px 50px;
	position:absolute;
	top:35%;
	left:50%;
	transform: translate(-50%, -50%);
}



.publisher{
	width:300px;
	height:40px;
	background: url(../img/publisher.png) center no-repeat;
	background-size: 300px 40px;
	position:absolute;
	top:8%;
	left:50%;
	transform: translate(-50%, -50%);
	animation:publish 8s forwards;
	

}

@keyframes publish {
	0%{top:-20px;}
	100%{}
}


.cake {
	width:150px;
	height:130px;
	background: url(../img/cake.png) center no-repeat;
	background-size: 150px 130px;
	position:absolute;
	top:50%;
	left:50%;
	transform: translate(-50%, -50%);
	display:none;
	animation:cake 10s infinite linear;
	animation-direction: alternate;

}

@keyframes cake {
	0%{left:500px;}
	50%{}
	100%{left:-90px;}
}















